

.main h1 {
    font-family: "relation-two";
}


.mainsection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20vw;
    margin-right: 20vw;
}

.mainsection h1 {
    z-index: -1 !important;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.image-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    pointer-events: none; /* Gradyenin etkileşimleri engellememesi için */
}

.mainsection label {
    font-family: "barlow";
    padding-top: 10px;
}

.menu {
    background-color: rgba(255, 255, 255, 0.749);
    height: 100%;
    left: 2%;
    padding: 50px;
    margin: 0;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;    
    margin-right: 15px;
    width: 100px;
    position: sticky;
    top: 0;
    z-index: 10;
}



.menu h1 {
    font-family: "relation-two";
    color: rgb(255, 0, 187);
    font-size: 32pt;
}

.menu-buttons {
    margin-top: 35%;
}

.menu-buttons a {
    text-decoration: none;
    font-family: "barlow";
    color: rgb(255, 0, 187);
    letter-spacing: 1px;
    transition: 0.5s ease;
}

.menu-buttons a:hover {
    font-weight: 900;
    letter-spacing: 3px;
}

.main-header {
    scale: 1;
    transition: 1s ease;
}

.main-header:hover ~ .main  {

    transform: scale(1.5);

}

.page-section {
    width: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    padding: 50px;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section h1 {
    font-family: "chippewa-falls";
    font-size: 48pt;
    color: rgb(255, 0, 187);
    margin-bottom: 0;
}

.section p {
    font-family: "barlow";
    margin: 0;
    margin-top: 10px;
}

.section h2 {
    font-family: "proxima-nova";
    font-weight: 800;
    color: rgb(255, 0, 187);
}

.section ul {
    font-family: "barlow";
    list-style: none;
}


.section li {
    position: relative;
    padding-left: 20px;
}

.section li::before {
    content: '•';
    color: rgb(255, 0, 187); /* Bullet'in rengi */
    position: absolute;
    top: 0%;
    left: 0%;
}

#hover-box p {
    transition: .5s ease;
}

#hover-box p:hover {
    background-color: rgba(255, 0, 187, 0.13);
}